[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
celery = "*"
redis = "*"
flake8 = "*"
pyjwt = "*"
django = "*"
django-countries = "*"
pre-commit = "*"
black = "*"
mypy = "*"
django-dynamic-fixture = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
passlib = {extras = ["bcrypt"], version = "*"}
types-passlib = "*"
drf-spectacular = "*"
django-debug-toolbar = "*"
bcrypt = "*"
pytest = "*"
pytest-django = "*"
django-filter = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
